
    <label>Status</label>
    <select [(ngModel)]= "status" >
        <option value= "alive"> 
            Alive 
        </option>
        <option value= "dead">
            Dead
        </option>
        <option value = "unknown">
            Unknown
        </option>
    </select>
    <label>Species</label>
    <input type= "text" [(ngModel)]="species"> 

    <label>Type</label>
    <input type= "text" [(ngModel)]="typechar"> 

    <label>Gender</label>
    <select [(ngModel)]= "status">
        <option value= "female"> 
            Female 
        </option>
        <option value= "male">
            Male
        </option>
        <option value = "genderless">
            Genderless
        </option>
        <option value = "unknownGender">
            Unknown
        </option>
    </select>

    <button type="submit">Search</button>

    

